.no-link {
  text-decoration: none;
}

.no-link:hover {
  text-decoration: none;
  background-color: aliceblue;
}

.comments {
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.comment-btn {
  float: left;
}
